    @using HakimLivs.Services
@using HakimLivs.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject CartState CartState
@inject ProductService ProductService



<div class="d-flex justify-content-center flex-wrap gap-2">

    @if (ProductList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var p in ProductList)
        {

            string hover = "Beskrivning: " + @p.Description + "<br />" + " Innehåll: " + @p.TableOfContent;

            <Div ElementId="tooltip-custom-target">
                <Tooltip Text=@hover> 
                    <div class="product-card card text-center m-1">
                        <div class="card-body">
                            <img src="@p.ImgPath" class="img" alt="@p.Name" width="200" height="200" style="object-fit:contain" />
                            <p>@p.Price kr/st</p>
                            <p class="card-title">
                                @p.Name
                            </p>
                            <div class="mb-1">
                                <span>@p.Brand</span> |
                                <span>@p.UnitQty </span>
                                <span>@p.Unit.Name </span>
                            </div>

                            <button @onclick="(() => AddToCart(p))" class="btn btn-primary">Lägg till i varukorg</button>

                        </div>
                    </div>
                </Tooltip>
            </Div>
        }
    }
</div>


@code {
    [Parameter] 
    public List<Product> ProductList { get; set; }
    [Parameter]
    public string SearchTerm { get; set; }

    protected override void OnInitialized()
    {
        CartState.OnChange += StateHasChanged;
    }
    public async Task AddToCart(Product p)
    {
        await CartState.AddProduct(p);
        await ProtectedLocalStorage.SetAsync("productsInCart", CartState.selectedProducts);
        await ProtectedLocalStorage.SetAsync("totalPrice", CartState.totalPrice);


    }
    public void Dispose()
    {
        CartState.OnChange -= StateHasChanged;
    }
    async Task UpdateProductList()
    {
        ProductList = await ProductService.GetProducts();
    }

}
