@using HakimLivs.Models
@using HakimLivs.Services



<div >
<AdminProductModal></AdminProductModal>


    @if (ProductList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Namn</th>
                        <th scope="col">Märke/Tillverkare</th>
                        <th scope="col">Beskrivning</th>
                        <th scope="col">Enhet</th>
                        <th scope="col">Enhetstyp</th>
                        <th scope="col">Innehållsförteckning</th>
                        <th scope="col">Pris</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Antal i lager</th>
                        <th scope="col">Bildsökväg</th>
                    </tr>
                </thead>
                <tbody>
        @foreach (var p in ProductList)
        {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Brand</td>
                        <td class="text-truncate" style="max-width: 150px;">@p.Description</td>
                        <td>@p.Unit</td>
                        <td>@p.UnitType</td>
                        <td class="text-truncate" style="max-width: 150px;">@p.TableOfContent</td>
                        <td>@p.Price</td>
                        <td>@p.Category.Name</td>
                        <td>@p.Stock</td>
                        <td class="text-truncate" style="max-width: 150px;">@p.ImgPath</td>
                    </tr>
                    
        }
                </tbody>
            </table>
    }
</div>


@code {
    [Parameter]
    public List<Product> ProductList { get; set; }
    

    

}
